body, html {
    height: 100%;
    margin: 0;
  }

 /* LandingPage.css */

.progress-bar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: 8px;
  animation: fadeInOut 1.5s infinite alternate;
}

.developer p{
  text-align: center;
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-top: 10px;
  font-weight: bold;
}

.landing-page p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pname{
  font-size: 18px;
}

.names {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 1px;
  font-size: 16px;
}

@keyframes fadeInOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.circular-progressbar {
  width: 80%;
  height: 80%;
  margin: auto;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .landing-page {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .description {
    text-align: justify;
    padding: 0px 100px 0px;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .landing-page h1{
    padding: 0px 10px 0px;
    font-size: 1.7rem;
  }

  
  
  .divider {
    border-top: 2px solid #ccc;
    margin: 20px 0;
  }
  
  .developers-section,
  .about-us-section,
  .contact-us-section {
    margin-top: 20px;
  }
  
  .developers-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .developers-row p{
    text-align: center;
  }
  
  .developer {
    margin: 15px;
    text-align: center;
  }
  
  .developer img {
    width: 200px; /* Reduced image size */
    height: 200px; /* Reduced image size */
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto; /* Center the image horizontally */
  display: block; 
    border: 5px solid blanchedalmond;
  }
  
  .contact-us-section p {
    padding: 0px 40px 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 
  
  .about-us-section,
  .contact-us-section {
    text-align: center;
    padding: 20px;
    max-width: 1200px; /* Increased max-width for the card */
    margin: 0 auto; /* Center the card horizontally */
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff; /* Change to your desired button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* Change to your desired button hover color */
}

.about-us-section p{
  text-align: justify;
    padding: 0px 40px 0px;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media screen and (max-width: 767px) {
  .landing-page p {
    text-align: justify;
    padding: 0px 40px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .developer p{
    text-align: center;
  }
  .about-us-section p{
    padding: 0px 30px 0px;
  }
  .pname{
    font-size: 15px;
  }
  .names{
    font-size: 14px;
  }
}